/*.Hred{
    position:absolute;
    top: 70px;
    left: 280px;
}
.Panya{
    position:absolute;
    top: 110px;
    left: 280px;
}
.Major{
    position:absolute;
    top: 138px;
    left: 280px;
}
.Faculty{
    position:absolute;
    top: 168px;
    left: 280px;
}
.My{
    position:absolute;
    top: 198px;
    left: 280px;
}
.I{
    position:absolute;
    top: 228px;
    left: 280px;
}
.and{
    position:absolute;
    top: 258px;
    left: 280px;
}
.Skills{
    position:absolute;
    top: 70px;
    right:  350px;
}
*/
.font{
    font-size: 25px;
}