.Hred{
    color:white;
}
.Panya{
    color:white;
}
.Major{
    color:white;
}
.Faculty{
    color:white;
}
.My{
    color:white;
}
.I{
    color:white;
}
.and{
    color:white;
}
.Skills{
    color:white;
}

.font{
    font-size: 25px;
    align :center;
}
.navbar-brand{

}
.W{
    color:white;
}
