.toey {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,78,167,1) 0%, rgba(0,212,255,1) 100%);
}
.HTML{
    position:absolute;
    right: 150px;
    top: 60px;
}
.CSS{
    position:absolute;
    right: 275px;
    top: 180px;
}

.Narong{
    position:absolute;
    top: 60px;
} 
.Block{
    position:relative;
    background-color: #E5FFF5;
    width: 250px;

    height: 310px;
}