
.column{
  float: left;
  width:17%;
  padding: 15px;
}
.column1{
    float: left;
    width: 28%;
    padding: 15px;
  }
  .column2{
    float: left;
    width: 55%;
    padding: 15px;
  }
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.top{
    margin-top: 50px;
    
  }
  .shatop{
    margin-top
    : 5px;
  }
  .Ttop{
    margin-top: 40px;
    
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }