.toey {
    background: rgb(40,6,167);
background: linear-gradient(90deg, rgba(40,6,167,1) 0%, rgba(73,0,97,1) 0%, rgba(0,220,255,1) 100%);
}
/*
.HTML{
    position:absolute;
    right: 550px;
    top: 120px;
}
.CSS{
    position:absolute;
    right: 310px;
    top: 120px;
}
.java{
    position:absolute;
    right: 90px;
    top: 120px;
}

.Narong{
    position:absolute;
    top: 60px;
    
} 
.Block{
    position:relative;
    background-color: white;
    width: 100px;

    height: 45px;
}

.Block2{
    position:absolute;
    background-color: rgb(2, 0, 0);
    top: 100px;
    width: 2px;
    left:  750px;
    height: 500px;

}